.team-header {
	padding: clamp(8.563rem, 7.653rem + 4.55vw, 11.063rem) 0
		clamp(3.75rem, 2.841rem + 4.55vw, 6.25rem) 0;

	background: linear-gradient(
		270deg,
		rgba(41, 44, 33, 0.79) -21.96%,
		#edfb60 100.29%
	);

	&__container {
		max-width: 1200px;
		display: flex;
		justify-content: center;
		align-items: center;

		gap: 100px;

		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;

		max-width: 250px;

		@media (max-width: 767px) {
			order: 2;
		}
	}

	&__title {
		font-size: 25px;
		text-transform: uppercase;
		font-weight: 700;
	}

	&__text {
		color: var(--secondary-color);
		font-size: 22px;
	}

	&__img {
		max-width: 40%;

		@media (max-width: 767px) {
			max-width: 400px;
			order: 1;
		}
	}
}

.team {
	padding: clamp(3.75rem, 2.841rem + 4.55vw, 6.25rem) 0;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: clamp(3.75rem, 2.841rem + 4.55vw, 6.25rem);

		max-width: 1200px;
	}

	&__paragraph {
		font-family: "Roboto", sans-serif;
		color: #42474c;
		font-size: 20px;
	}

	&__text-block {
		max-width: 900px;
		border-radius: 20px;
		opacity: 0.9;
		background: rgba(229, 255, 73, 0.55);

		padding: 60px;

		display: flex;
		flex-direction: column;
		gap: 20px;

		@media (max-width: 767px) {
			padding: 40px 30px;
		}
	}
}

.team-row {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 991px) {
		flex-direction: column;
		align-items: center;
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 20px;

		width: 55%;

		padding: 120px 80px;

		position: relative;

		@media (max-width: 991px) {
			padding: 80px 20px;
			width: 100%;
		}

		@media (max-width: 575px) {
			padding: 80px 20px 60px 20px;
		}

		&::before {
			content: "";
			height: 100%;
			width: 100vw;
			background-color: rgba(229, 255, 73, 0.55);

			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -120px;
			z-index: -1;

			@media (max-width: 991px) {
				right: 0;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}
		}

		&:nth-child(2) {
			margin-top: auto;

			&::before {
				left: -100px;

				@media (max-width: 991px) {
					left: 50%;
					transform: translateY(-50%) translateX(-50%);
				}
			}
		}

		@media (max-width: 991px) {
			margin-top: 0;

			order: 2;

			justify-content: center;
		}
	}

	&__img {
		width: 45%;
		aspect-ratio: 3 / 2;

		border-radius: 10px;

		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			box-shadow: 5px 5px 28px 2px rgba(0, 0, 0, 0.25);
			object-fit: cover;
		}

		@media (max-width: 991px) {
			width: 100%;
			max-width: 500px;

			transform: translateY(40px);
		}
	}
}

.team-skills {
	align-self: start;

	&__title {
		color: #657300;
		font-size: 24px;
		font-weight: 600;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;

		margin-top: 20px;
	}

	&__item {
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		font-weight: 400;

		padding-left: 20px;

		position: relative;

		&::before {
			content: "";

			width: 5px;
			height: 5px;

			background-color: var(--secondary-color);

			position: absolute;
			top: 50%;
			left: 5px;
			transform: translateY(-50%);

			border-radius: 100%;
		}
	}
}

.team-members {
	width: 100%;
	max-width: 1100px;

	&__title {
		color: #657300;
		font-size: 24px;
		font-weight: 600;
		text-align: center;
	}

	&__wrapper {
		margin-top: 40px;

		width: 100%;

		display: grid;
		grid-template-columns: repeat(auto-fill, 270px);
		gap: 60px;
		justify-content: center;
		justify-items: center;
	}
}

.members-item {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&__img {
		width: 100%;
		max-width: 300px;

		img {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}
	}

	&__title {
		font-family: "Roboto", sans-serif;
		font-size: 20px;
		font-weight: 400;
	}

	&__roles {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 5px;
	}

	&__role {
		color: #657300;
		font-family: "Roboto", sans-serif;
		font-size: 18px;
	}
}
